# Higher Education Analysis - Data Clean Up
---

In [1]:
# Setup and Dependencies
import pandas as pd

In [2]:
# Read in csv's and preview
df1= pd.read_csv('Resources/payscaleBachelors.csv')
df2= pd.read_csv('Resources/costOfAttendence1.csv', encoding='cp1252')
df1.head()

,Rank,School Name,School Type,Early Career Pay,Mid-Career Pay,% High Meaning,% STEM Degrees
0,1,Harvey Mudd College,"Engineering, Liberal Arts School, Private School",81000,155800,0.58,0.85
1,2,Princeton University,"Ivy League, Private School, Research Universit...",69800,147800,0.44,0.47
2,3,Massachusetts Institute of Technology,"Engineering, Private School, Research University",81500,147000,0.53,0.69
3,4,SUNY Maritime College,State School,71600,145100,0.52,0.35
4,5,United States Military Academy,"Liberal Arts School, Sober School, For Sports ...",75100,144300,0.65,0.43

In [3]:
# Rename columns
df1.columns= ['Rank', 'School_Name','School_Type', 'Early_Career_Pay', 'Mid-Career_Pay', 
              '% High_Meaning', '%_STEM_Degrees']
# Add private column to indicate private school status
df1['Private']= df1.loc[:,'School_Type'].apply (lambda x: 'Private' in x)
# Preview change
df1.head()

,Rank,School_Name,School_Type,Early_Career_Pay,Mid-Career_Pay,% High_Meaning,%_STEM_Degrees,Private
0,1,Harvey Mudd College,"Engineering, Liberal Arts School, Private School",81000,155800,0.58,0.85,True
1,2,Princeton University,"Ivy League, Private School, Research Universit...",69800,147800,0.44,0.47,True
2,3,Massachusetts Institute of Technology,"Engineering, Private School, Research University",81500,147000,0.53,0.69,True
3,4,SUNY Maritime College,State School,71600,145100,0.52,0.35,False
4,5,United States Military Academy,"Liberal Arts School, Sober School, For Sports ...",75100,144300,0.65,0.43,False

In [4]:
# Preview cost data
df2.head()

,Rank 2015,Rank 2014,School Name,Cost '15,Cost '14,% Change
0,1,1,Aerosim Flight Academy,"$82,824","$82,824",0.00%
1,2,2,Aviator College of Aeronautical Science and Te...,"$66,400","$55,496",19.65%
2,3,5,University of Chicago,"$64,988","$53,438",21.61%
3,4,3,Landmark College,"$64,830","$50,800",27.62%
4,5,6,Columbia University in the City of New York,"$64,144","$45,396",41.30%

In [5]:
# Rename for ease of reference
df2.columns=['Rank2015','Rank2014','School_Name','cost_2015','cost_2014','percent_change']

In [6]:
# Merge data on school names
Private_Public_merged = pd.merge(df1,df2, how="left", on=["School_Name"], suffixes=("", " Costs"))
Private_Public_merged.head()

,Rank,School_Name,School_Type,Early_Career_Pay,Mid-Career_Pay,% High_Meaning,%_STEM_Degrees,Private,Rank2015,Rank2014,cost_2015,cost_2014,percent_change
0,1,Harvey Mudd College,"Engineering, Liberal Arts School, Private School",81000,155800,0.58,0.85,True,7.0,14.0,"$63,860","$60,613",5.36%
1,2,Princeton University,"Ivy League, Private School, Research Universit...",69800,147800,0.44,0.47,True,150.0,141.0,"$55,832","$54,780",1.92%
2,3,Massachusetts Institute of Technology,"Engineering, Private School, Research University",81500,147000,0.53,0.69,True,93.0,95.0,"$59,020","$57,010",3.53%
3,4,SUNY Maritime College,State School,71600,145100,0.52,0.35,False,NaN,NaN,NaN,NaN,NaN
4,5,United States Military Academy,"Liberal Arts School, Sober School, For Sports ...",75100,144300,0.65,0.43,False,NaN,NaN,NaN,NaN,NaN

In [7]:
# Sort the data by school name
ppmdf = Private_Public_merged.drop_duplicates().sort_values('School_Name')

# Remove '$' and ',' sign and make it as float for addition for easier data manipulation
cols = ['cost_2015','cost_2014']
ppmdf[cols] = ppmdf[cols].replace('[\$,]', '', regex=True)
ppmdf[cols] = ppmdf[cols].replace(',','', regex=True).astype(float)

# 
ppmdf["2yrcost"] = ppmdf["cost_2015"] + ppmdf ["cost_2014"]
ppmdf["totalcost"] = ppmdf["2yrcost"] * 2
ppmdf.head()

,Rank,School_Name,School_Type,Early_Career_Pay,Mid-Career_Pay,% High_Meaning,%_STEM_Degrees,Private,Rank2015,Rank2014,cost_2015,cost_2014,percent_change,2yrcost,totalcost
426,427 (tie),Abilene Christian University,"Private School, Religious, For Sports Fans",46400,90300,0.57,0.07,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1204,1206 (tie),Adams State University,State School,41400,70300,0.58,0.03,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,416 (tie),Adelphi University,"Private School, Research University",51500,90600,0.50,0.06,True,353.0,360.0,47110.0,45200.0,4.23%,92310.0,184620.0
1128,1130 (tie),Adrian College,"Private School, Religious",40600,72100,0.57,0.12,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,687 (tie),Adventist University of Health Sciences,"Private School, Religious",51500,83000,0.91,0.06,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Extract only the data that has usable values
dWV = ppmdf[ppmdf['totalcost'].notnull()]
dWV

,Rank,School_Name,School_Type,Early_Career_Pay,Mid-Career_Pay,% High_Meaning,%_STEM_Degrees,Private,Rank2015,Rank2014,cost_2015,cost_2014,percent_change,2yrcost,totalcost
415,416 (tie),Adelphi University,"Private School, Research University",51500,90600,0.50,0.06,True,353.0,360.0,47110.0,45200.0,4.23%,92310.0,184620.0
885,887 (tie),Agnes Scott College,"Liberal Arts School, Private School, Religious...",42900,78300,0.55,0.21,True,342.0,339.0,47323.0,45691.0,3.57%,93014.0,186028.0
661,662 (tie),Alaska Pacific University,"Private School, Religious",48800,83600,NaN,0.07,True,497.0,429.0,43180.0,43180.0,0.00%,86360.0,172720.0
929,931 (tie),Albertus Magnus College,"Business, Private School, Religious",48500,77500,0.60,0.01,True,344.0,305.0,47302.0,46528.0,1.66%,93830.0,187660.0
188,189 (tie),Albion College,"Liberal Arts School, Private School, Religious",48500,101700,0.48,0.24,True,317.0,334.0,48195.0,45884.0,5.04%,94079.0,188158.0
848,850 (tie),Albright College,"Liberal Arts School, Private School, Religious",46900,79100,0.42,0.13,True,282.0,281.0,49160.0,47390.0,3.73%,96550.0,193100.0
298,299 (tie),Allegheny College,"Liberal Arts School, Private School, Religious",46700,95600,0.44,0.38,True,210.0,213.0,52020.0,50150.0,3.73%,102170.0,204340.0
721,723 (tie),Alma College,"Liberal Arts School, Private School, Religious",45700,82100,0.58,0.17,True,451.0,466.0,44287.0,42312.0,4.67%,86599.0,173198.0
1187,1189 (tie),Alvernia University,"Private School, Religious",44300,70700,0.54,0.03,True,493.0,487.0,43250.0,42030.0,2.90%,85280.0,170560.0
821,823 (tie),American International College,"Private School, Research University",49100,79700,0.51,0.01,True,423.0,419.0,44900.0,43468.0,3.29%,88368.0,176736.0
145,146 (tie),American University,"Private School, Religious, Research University...",51800,106900,0.43,0.03,True,136.0,130.0,56808.0,55353.0,2.63%,112161.0,224322.0
50,51,Amherst College,"Liberal Arts School, Private School",60200,122800,0.47,0.27,True,33.0,45.0,61544.0,59060.0,4.21%,120604.0,241208.0
983,985 (tie),Anna Maria College,"Private School, Religious",42200,76100,0.55,0.00,True,321.0,390.0,48146.0,44392.0,8.46%,92538.0,185076.0
861,863 (tie),Arcadia University,"Private School, Religious",42600,78800,0.50,0.12,True,214.0,212.0,51970.0,50270.0,3.38%,102240.0,204480.0
302,303 (tie),Assumption College,"Private School, Religious",50700,95500,0.51,0.12,True,303.0,285.0,48521.0,47195.0,2.81%,95716.0,191432.0
637,638 (tie),Augsburg College,"Private School, Religious",47400,84100,0.51,0.08,True,410.0,402.0,45465.0,43997.0,3.34%,89462.0,178924.0
565,566 (tie),Augustana College,"Liberal Arts School, Private School, Religious",45000,85700,0.46,0.29,True,352.0,343.0,47137.0,45598.0,3.38%,92735.0,185470.0
350,351 (tie),Austin College,"Liberal Arts School, Private School, Religious",48200,93500,0.49,0.22,True,336.0,325.0,47625.0,46097.0,3.31%,93722.0,187444.0
698,699 (tie),Azusa Pacific University,"Private School, Religious, Research University",47200,82800,0.60,0.03,True,391.0,383.0,45996.0,44561.0,3.22%,90557.0,181114.0
7,8,Babson College,"Business, Private School",66600,141700,0.34,0.00,True,60.0,61.0,60504.0,58450.0,3.51%,118954.0,237908.0
464,464 (tie),Bard College,"Liberal Arts School, Private School",48500,89000,0.49,0.00,True,14.0,17.0,62572.0,60280.0,3.80%,122852.0,245704.0
168,169,Barnard College,"Liberal Arts School, Private School",53500,103700,0.57,0.19,True,34.0,23.0,61512.0,59824.0,2.82%,121336.0,242672.0
893,895 (tie),Barry University,"Private School, Religious, Research University",46000,78100,0.64,0.12,True,419.0,482.0,45100.0,42100.0,7.13%,87200.0,174400.0
40,41,Bates College,"Liberal Arts School, Private School",55800,125000,0.54,0.26,True,50.0,37.0,61000.0,59285.0,2.89%,120285.0,240570.0
232,233 (tie),Baylor University,"Private School, Religious, Research University...",51600,98700,0.49,0.17,True,178.0,236.0,53886.0,49038.0,9.89%,102924.0,205848.0
1007,1009 (tie),Becker College,Private School,44900,75500,0.59,0.01,True,350.0,336.0,47160.0,45720.0,3.15%,92880.0,185760.0
432,433 (tie),Bellarmine University,"Private School, Religious",46900,90200,0.53,0.07,True,203.0,210.0,52574.0,50420.0,4.27%,102994.0,205988.0
636,637,Beloit College,"Liberal Arts School, Private School",45300,84200,0.61,0.20,True,249.0,263.0,50406.0,48236.0,4.50%,98642.0,197284.0
435,436 (tie),Bennington College,"Liberal Arts School, Private School",45800,90100,0.37,0.05,True,23.0,15.0,61920.0,60540.0,2.28%,122460.0,244920.0
85,86,Bentley University,"Business, Private School",62000,114300,0.36,0.07,True,132.0,138.0,56930.0,54888.0,3.72%,111818.0,223636.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,46,Wabash College,"Liberal Arts School, Private School",58900,124400,0.46,0.27,True,365.0,372.0,46660.0,44750.0,4.27%,91410.0,182820.0
174,174 (tie),Wagner College,"Private School, Religious, For Sports Fans",53900,103100,0.50,0.11,True,176.0,188.0,53924.0,51619.0,4.47%,105543.0,211086.0
62,62 (tie),Wake Forest University,"Party School, Private School, Research Univers...",56000,118400,0.48,0.14,True,63.0,63.0,60242.0,58260.0,3.40%,118502.0,237004.0
840,836 (tie),Wartburg College,"Liberal Arts School, Private School, Religious",46100,79400,0.48,0.30,True,415.0,420.0,45305.0,43455.0,4.26%,88760.0,177520.0
522,520 (tie),Washington & Jefferson College,"Liberal Arts School, Private School",45800,87200,0.38,0.21,True,220.0,217.0,51690.0,49970.0,3.44%,101660.0,203320.0
615,612 (tie),Washington College,"Liberal Arts School, Private School",49900,84700,0.55,0.21,True,170.0,175.0,54312.0,52518.0,3.42%,106830.0,213660.0
93,93 (tie),Washington University in St Louis,"Private School, Research University",60100,113400,0.44,0.31,True,28.0,16.0,61808.0,60345.0,2.42%,122153.0,244306.0
26,27,Washington and Lee University,"Liberal Arts School, Private School",59700,131700,0.38,0.21,True,102.0,103.0,58575.0,56616.0,3.46%,115191.0,230382.0
13,14,Webb Institute,"Engineering, Private School",70800,138200,NaN,1.00,True,26.0,1959.0,61820.0,18520.0,233.80%,80340.0,160680.0
200,201,Wellesley College,"Liberal Arts School, Private School",53800,100900,0.48,0.29,True,92.0,90.0,59092.0,57164.0,3.37%,116256.0,232512.0
1314,1316,Wells College,"Liberal Arts School, Private School",43400,67600,0.55,0.25,True,267.0,264.0,49800.0,48200.0,3.32%,98000.0,196000.0
120,121,Wentworth Institute of Technology,Private School,59200,108900,0.52,0.35,True,361.0,394.0,46750.0,44258.0,5.63%,91008.0,182016.0
66,67,Wesleyan University,"Liberal Arts School, Private School",55900,117700,0.59,0.22,True,13.0,9.0,62849.0,61167.0,2.75%,124016.0,248032.0
357,356 (tie),Western New England University,Private School,53400,93200,0.49,0.20,True,289.0,284.0,48890.0,47246.0,3.48%,96136.0,192272.0
102,103,Westmont College,"Liberal Arts School, Private School",50700,111500,0.54,0.18,True,182.0,186.0,53670.0,51760.0,3.69%,105430.0,210860.0
1489,1490 (tie),Wheelock College,Private School,37000,55800,0.77,0.03,True,330.0,303.0,47870.0,46545.0,2.85%,94415.0,188830.0
136,136 (tie),Whitman College,"Liberal Arts School, Private School",50000,107700,0.48,0.38,True,137.0,139.0,56600.0,54865.0,3.16%,111465.0,222930.0
347,348,Whittier College,"Liberal Arts School, Private School",47000,93700,0.53,0.08,True,181.0,165.0,53700.0,53318.0,0.72%,107018.0,214036.0
616,612 (tie),Whitworth University,"Private School, Religious",46800,84700,0.50,0.20,True,325.0,328.0,48055.0,46066.0,4.32%,94121.0,188242.0
504,503 (tie),Wilkes University,Private School,48200,87600,0.51,0.13,True,359.0,353.0,46786.0,45360.0,3.14%,92146.0,184292.0
229,229 (tie),Willamette University,"Liberal Arts School, Private School",47700,98900,0.47,0.12,True,166.0,174.0,54813.0,52796.0,3.82%,107609.0,215218.0
493,491 (tie),William Jewell College,"Liberal Arts School, Private School",48200,88200,0.60,0.12,True,465.0,445.0,43820.0,42790.0,2.41%,86610.0,173220.0
11,12,Williams College,"Liberal Arts School, Private School",62000,138400,0.44,0.33,True,25.0,33.0,61850.0,59412.0,4.10%,121262.0,242524.0
126,124 (tie),Wittenberg University,"Liberal Arts School, Private School, Religious",48400,108700,0.61,0.27,True,243.0,193.0,50766.0,51266.0,-0.98%,102032.0,204064.0
260,259 (tie),Wofford College,"Liberal Arts School, Private School, Religious...",47200,97600,0.50,0.26,True,275.0,266.0,49449.0,48129.0,2.74%,97578.0,195156.0
564,565,Woodbury University,Private School,46400,85800,0.45,0.00,True,304.0,295.0,48512.0,46693.0,3.90%,95205.0,190410.0
32,33,Worcester Polytechnic Institute,"Engineering, Private School, Research University",69200,129400,0.46,0.87,True,113.0,110.0,58060.0,56230.0,3.25%,114290.0,228580.0
452,448 (tie),Xavier University,"Private School, Religious, For Sports Fans",48600,89500,0.49,0.06,True,372.0,365.0,46520.0,45080.0,3.19%,91600.0,183200.0
24,25,Yale University,"Ivy League, Private School, Research Universit...",66800,132100,0.53,0.23,True,31.0,36.0,61620.0,59320.0,3.88%,120940.0,241880.0
51,52,Yeshiva University,"Private School, Research University",58900,122300,0.45,0.13,True,163.0,156.0,55075.0,53825.0,2.32%,108900.0,217800.0

In [9]:
# Output to csv file
dWV.to_csv("Resources/Cost_And_Pay.csv", encoding="utf-8")